.player-body-container {
  min-height: 100%;
  padding-bottom: 100px;
  color: white;
  background: -webkit-radial-gradient( #2b1339, #380c77);
  background: radial-gradient(   #2b1339, #380c77); }
  .player-body-container a {
    color: white; }

.default-player-header, .default-player-footer {
  background-color: rgba(123, 70, 163, 0.9); }

.default-player-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800; }

.default-player-footer {
  height: 100px; }

.album-header-container {
  margin-top: 55px;
  margin-bottom: 25px; }

.album-header-information {
  margin-top: 45px;
  margin-bottom: 20px; }
  .album-header-information .album-title, .album-header-information .album-artist, .album-header-information .album-meta-info {
    line-height: 150%; }
  .album-header-information .album-title {
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; }
  .album-header-information .album-artist {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; }
  .album-header-information .album-meta-info {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500; }

.table.album-song-listing {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }
  .table.album-song-listing td {
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.4); }

.nav {
  height: 14px;
  font-size: 10px; }

body, html {
  height: 100%; }

.navbar {
  border-radius: 0;
  margin-bottom: 0; }

div {
  border-radius: 8px; }

a {
  color: black; }

img {
  margin: 15px; }
